* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(30, 30, 30, 0.8);
    color: #ffffff;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    min-width: 150px;
    min-height: 150px;
}

button:focus, button:active, button:hover {
    background-color: rgba(50, 50, 50, 0.9);
    outline-style: none;
    border: 2px solid rgba(255, 255, 255, 0.4);
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
