[Unit]
Description=swww wallpaper daemon
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/swww init
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
