[Unit]
Description=Initialize SWWW wallpaper daemon
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/swww init
RemainAfterExit=yes

[Install]
WantedBy=default.target
